
.fixedFooter {
  background-color: rgba(65, 25, 127, 1);
  bottom: 0;
  display: flex;
  height: 52px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
}


.imgDrinks {
  border: 0.21px solid rgba(252, 196, 54, 1);
  height: 25.12px;
  left: 36px;
  top: 765.64px;
  width: 24.61px;

}


.imgMeals {
  border: 0.21px solid rgba(252, 196, 54, 1);
  height: 25.12px;
  left: 10px;
  top: 765.64px;
  width: 24.61px;
}

.imgButton {
  opacity: 0.5;
}
