.recipe-img {
  height: 170px;
  object-fit: cover;
  width: 100vw;
}

.recipe-title {
  color: white;
  font-size: 2.5rem;
  left: 50%;
  position: absolute;
  top: 13%;
  transform: translate(-50%, -50%);
}

.done {
  text-decoration: line-through solid black;
}

.ingredients-container {
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 15px 30px;
  padding: 10px;
}

.ingredients-container label input {
  all: unset;
  border: 1px solid orange;
  border-radius: 3px;
  display: inline-block;
  height: 15px;
  margin: 0 3px;
  width: 15px;
}

.ingredients-container label input:checked {
  background-color: grey;
}

span {
  font-size: 1.1rem;
  margin: 5px;
}

.alcoholic {
  font-size: 0.9rem;
  margin-left: 25px;
}

h3 {
  margin: 15px 0 5px 25px;
}

.instructions {
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 15px 30px;
  padding: 10px;
}

.btnFinalizar {
  background-color: orange;
  border: 3px solid rgba(0, 0, 0, 0.057);
  border-radius: 3px;
  bottom: 0;
  color: white;
  display: block;
  font-size: 1.2rem;
  position: fixed;
  width: 100vw;
}

.btnFinalizar:disabled {
  background-color: gainsboro;
  border: 3px solid rgba(0, 0, 0, 0.057);
  border-radius: 3px;
  bottom: 0;
  display: block;
  position: fixed;
  width: 100vw;
}

.btns-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.favAndShare {
  background: none;
  border: none;
}
