.done {
  text-decoration: line-through solid rgb(0, 0, 0) !important;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.btnFinalizar {
  bottom: 0;
  position: fixed;
}
